data
data_
*.egg-info
.ipynb_checkpoints/
__pycache__
logs/
my_script
.idea
/audio_show/
/Dataset/
/data/
datasets.tar.xz
*.mp3
*.mp4
confidence_map_pretrain_data*/
sound_data/
ffmpeg_log.log
images/
spl_images/
mulitple_noise_images/
.vscode/
